.video-store {
  text-align: center;
  background-color: rgb(89, 89, 89);
}

.header__controls {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.header__item {
  border: .5em solid rgb(123, 249, 108);
  border-radius: 1em;
  flex: 0 1 auto;
}
